<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sinner.letsteacher">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.Main3Activity" />
        <activity
            android:name=".activity.TableActivity"
            android:label="@string/title_activity_table" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme.ExploreEx" />
        <activity android:name=".activity.AddNewFileMkdirs" />
        <activity android:name=".activity.SearchFileActivity" />
        <activity android:name=".activity.ImgDetailActivity" />
        <activity android:name=".activity.ShowNetPicActivity" />
        <activity android:name=".activity.CaptureActivity" />
        <activity android:name="com.jay.ui.PhotoPickerActivity" />
        <activity
            android:name=".LoginAc"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.LoginAc" />
        <activity android:name=".activity.RegisterAc" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.clearboom.ClearBoomActivity" />
        <activity android:name=".AdviceActivity"></activity>
    </application>

</manifest>